.exchange-box {
  width: 800px;
  margin: auto;
  margin-top: 15vh;
  padding: 30px;
  /* background: #713bdb; */
  background: #f4f5f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
}
.exchange-text {
  text-align: center;
  color: #1f253b;
}
.exchange-text .first {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 5px;
}
.exchange-text .second {
  font-size: 1rem;
  line-height: 18px;
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
}
.select {
  display: flex;
  width: 55%;
  margin: auto;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
}
.base-quote {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
select {
  width: 80px;
  height: 40px;
  /* background-color: #33d69f; */
  background-color: #f4f5f9;
  border: 2px solid #1f253b;
  font-size: 1.05rem;
}
.base p,
.quote p {
  font-size: 0.78rem;
  margin-bottom: 2px;
  color: #1dbe89;
  font-weight: bold;
}
.value {
  width: 55%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.value input {
  height: 42px;
  width: 183px;
  outline: none;
  padding: 0 10px;
  font-size: 1.1rem;
  border: 2px solid #1f253b;
}
.amount {
  font-size: 0.78rem !important;
  margin-bottom: 2px;
  color: #1dbe89;
  font-weight: bold;
}
.result {
  font-size: 1.2rem;
  padding-bottom: 8px;
  font-weight: bold;
  /* color: #1dbe89; */
  color: #1f253b;
}
.explain p {
  margin-bottom: 10px;
  color: #1f253b;
  font-size: 1.2rem;
  font-weight: 600;
}

@media (max-width: 820px) {
  .exchange-box {
    width: 80%;
  }
  .exchange-text .second {
    width: 70%;
  }
  .select {
    width: 70%;
  }
  .value {
    width: 70%;
  }
}
@media (max-width: 640px) {
  .exchange-box {
    padding: 30px 20px;
  }
  .exchange-text .first {
    font-size: 1.3rem;
    line-height: 25px;
  }
  .exchange-text .second {
    font-size: 0.9rem;
    line-height: 16px;
    width: 93%;
    margin: auto;
    margin-bottom: 20px;
  }
  .select {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    width: 80%;
  }
  select {
    border: 1px solid #1dbe89;
  }
  .base-quote {
    margin-bottom: 10px;
  }
  .base {
    margin-right: 20px;
  }
  .explain p {
    margin-bottom: 0;
    font-size: 1rem;
  }
  select {
    width: 70px;
    height: 33px;
    font-size: 0.9rem;
  }
  .value {
    width: 80%;
    flex-direction: column;
    align-items: flex-start;
  }
  .value input {
    height: 34px;
    width: 183px;
    outline: none;
    padding: 0 7px;
    font-size: 1rem;
    margin-bottom: 8px;
    border: 1px solid #1dbe89;
  }

  .result {
    font-size: 1rem;
    padding-bottom: 0;
    color: #1f253b;
  }
}
