.X {
  color: #33d69f;
  font-size: 2rem;
}
.change {
  color: #713bdb;
  color: #f4f5f9;
  font-size: 1.7rem;
}
.container {
  width: 90%;
  margin: auto;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "Poppins", sans-serif;
}
.time {
  margin-top: 5px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  border: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.year {
  padding: 5px 10px;
  background: #f4f5f9;
  background: #33d69f;
  color: #f4f5f9;
}
.difftime {
  background: #713bdb;
  padding: 5px;
}

@media (max-width: 640px) {
  .X {
    font-size: 1.7rem;
  }
  .change {
    font-size: 1.4rem;
  }
  .time {
    font-size: 0.95rem;
  }
}
